<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle De Estoque</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleDeEstoque.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Controle De Estoque</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item dropdown position-relative">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="cadastroDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Cadastro <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cadastroDropdown">
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="GrupoProdutos">Grupos de Produtos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="MarcaProdutos">Marcas de Produtos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="LocaisArmazenamento">Locais de Armazenamento</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="UnidadesMedida">Unidades de Medida</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="Produto">Produtos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="Pais">Países</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="Estado">Estados</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="Cidade">Cidades</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="Fornecedores">Fornecedores</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="PerfilUsuarios">Perfis de Usuários</a></li>
                                    <li><a class="dropdown-item" asp-controller="Cadastro" asp-action="Usuario">Usuários</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown position-relative">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="operacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Operações <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cadastroDropdown">
                                    <li><a class="dropdown-item" asp-controller="Operacoes" asp-action="EntradaEstoque">Entrada de Produtos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Operacoes" asp-action="SaidaEstoque">Saída de Produtos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Operacoes" asp-action="LancPerdaProduto">Lançamento de perdas de produtos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Operacoes" asp-action="Inventario">Inventario de Estoque</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown position-relative">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="relatoriosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Relatórios <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cadastroDropdown">
                                    <li><a class="dropdown-item" asp-controller="Relatorios" asp-action="PosicaoEstoque">Posição do Estoque</a></li>
                                    <li><a class="dropdown-item" asp-controller="Relatorios" asp-action="Ressuprimento">Ressuprimento</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown position-relative">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="graficosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gráficos <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cadastroDropdown">
                                    <li><a class="dropdown-item" asp-controller="Grafico" asp-action="PerdasMes">Perdas do mês</a></li>
                                    <li><a class="dropdown-item" asp-controller="Grafico" asp-action="EntradaSaidaMes">Entradas vs saídas por mês</a></li>
                                </ul>
                            </li>
                            <li class="nav-item align-items-end">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a> 
                            </li>
                            <li class="nav-item d-flex align-items-center ms-auto">
                                <span class="navbar-text me-2">Olá, @User.Identity.Name</span>

                                @using (Html.BeginForm("Logout", "Conta", FormMethod.Post, new { @class = "form-inline" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-link text-dark" style="text-decoration: none;">Sair</button>
                                }
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Controle De Estoque - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
